
.nav-container {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px 50px;
    background-color: black;
    z-index: 99;
}

nav {

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;
    width: 85%;
    flex-wrap: wrap;

}

.logo {

    width: 15%;
}

.logoImg {

    width:150px;
    height: auto;
}

nav ul {

    display: flex;
    /* gap: 25px; */
    
}

nav ul li {

        font-size: large;
        font-family: var(--lato_init);
        color: white;
        padding: 13px;
        transition: all 0.3s ease;
        
}

nav ul li:hover {

    color: rgb(201, 36, 36);
    background: white;
    border-radius: 2px;
}

.nav-btn {

    background-color: rgb(201, 36, 36);
    padding: 6px 15px;
    color: white;
    border-radius: 5px;
    font-family: var(--poppins_init);
    font-weight: 500;
    cursor: pointer;
}