.feature-main {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 50px auto; */
    background: #f2f3f3;
    padding: 50px 0px;
    

}

.card-div {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 80%;
    /* gap: 10px; */
}

.feature-main h1 {

    font-size: 30px;
    font-weight: 600;
    font-family: var(--poppins_init);
    margin-bottom: 20px;
    text-align: left;
    width: 80%;
}