.footer-main {

    width: 100%;
    height: 100px;
    padding: 10px;
    /* background-image: linear-gradient(blue ,black); */
    background-image: linear-gradient(rgb(18, 69, 136),black);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;    ;
}

.social{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.social-icon{

    color: rgb(167, 161, 161);
    font-size: 17px;
    cursor: pointer;

}
.footer-main p {
    text-align: center;
    font-size: 14px;
    color: white;
    padding: 10px;
}